* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
}

.forgot-password {
  margin: 70px 0;
}
.container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.container header {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.5;
  text-align: center;
}

.forgot-password-container {
  border: 1px solid #555;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;
  background-color: rgb(255, 255, 255);
}
.forgot-password-container form {
  margin-top: 15px;
}
label {
  font-size: 16px;
}
#email {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 7px 10px;
  width: 100%;
}
.forgot-password-container form button {
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #2b1f4d;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  border: #2b1f4d solid 5px;
  transition: all 0.3s ease-in-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.forgot-password-container form button:hover {
  color: #2b1f4d;
  background-color: white;
  border: #2b1f4d solid 5px;
}
.forgot-password-container a {
  margin-top: 10px;
  text-decoration: none;
  color: rgb(56, 50, 50);
  font-size: 14px;
  color: #ff4500;
  font-weight: 700;
}
