* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f8f8f8;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
.navbar {
  max-width: 1500px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-around;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 10%;
  padding: 20px;
}

.nav-menu {
  flex-basis: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu ul li {
  margin: auto 20px;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #555;
  font-size: 20px;
}

.nav-items {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items ul {
  list-style: none;
}

.nav-items ul li {
  margin: auto 22px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 20px;
}

.nav-items ul li a {
  border: none;
  background: #2577fd;
  font-weight: 400;
  padding: 15px 20px;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* Responsive NavBar */
@media screen and (max-width: 999px) {
  .nav-menu {
    display: none;
    background-color: yellowgreen;
  }
  .logo {
    flex-basis: 30%;
  }
  .nav-items {
    flex-basis: 70%;
  }
}

/* Collections */
.collections {
  margin: 70px 0;
}
.collections section {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.collections section h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.collections section p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 40px;
}
.collections-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.collections-col-1 {
  flex-basis: 45%;
  min-width: 250px;
  margin-bottom: 30px;
}
.collections-col-1 a img {
  width: 100%;
}

/* Featured Products */
.featured-products {
  margin: 70px 0;
  background-color: white;
}
.featured-products section {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.featured-products-col {
  margin: auto 15px;
  text-align: center;
  padding: 10px;
}
.featured-products-col:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.featured-products-col a h4 {
  font-size: 20px;
  margin: 5px 0px;
  color: #555;
}
.featured-products-col a p {
  color: #555;
}

/* Responsive featured products */
@media screen and (max-width: 800px) {
  .featured-products section {
    flex-direction: column;
  }
  .featured-products-col {
    margin-bottom: 10px;
  }
  .featured-products-col a img {
    width: 50%;
  }
}
/* Trending Products */
.trending-products {
  margin: 70px 0;
}
.trending-products article {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.trending-products article h2 {
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 20px;
  /* border-bottom: solid black 1px; */
}
/* .trending-products article form {
  text-align: right;
  font-size: 16px;
  margin-bottom: 30px;
} */
.trending-products-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.trending-products-col-1 {
  flex-basis: 25%;
  min-width: 250px;
  margin-bottom: 50px;
  padding: 10px;
  transition: transform 0.5;
}

.trending-products-col-1 p {
  margin: 5px auto;
  font-size: 14px;
}
.trending-products-col-1 h4 {
  margin: 8px auto;
  font-size: 20px;
}
.trending-products-col-1 h4 {
  margin: 8px auto;
}
.trending-products-col-1 h4 a {
  color: #555;
  font-size: 20px;
}
.trending-products-col-1 h4 a:hover {
  color: red;
}
.trending-products-col-1 .rating {
  margin-bottom: 10px;
}
.trending-products-col-1 .rating i {
  color: gold;
}
.price {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.price .after-discount {
  flex-basis: 50%;
}
.price .before-discount {
  text-decoration: line-through;
}
/* Hover effect on product */
.trending-products-col-1:hover {
  transform: translateY(-5px);
}

/* Deal of the week */
.deal-of-the-week {
  background-color: #f2f2f2;
}
.deal-of-the-week section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.deal-of-the-week-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.deal-description {
  flex-basis: 60%;
}
.deal-title {
  text-align: center;
  padding: 50px;
  font-size: 30px;
}
.deal-timer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.deal-timer ul {
  display: flex;
  list-style: none;
  padding: 20px;
}
.deal-timer ul li {
  padding: 20px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  margin: 50px 20px;
  font-size: 34px;
}
.deal-timer ul li span {
  color: #ff523b;
}
.deal-shop-now-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.deal-shop-now-btn a {
  text-decoration: none;
  color: #555;
  padding: 12px 24px;
  background-color: #1e1e27;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  font-size: 20px;
}

/* Responsive deal of the week */
@media screen and (max-width: 900px) {
  .deal-of-the-week section {
    flex-direction: column;
  }
  .deal-description {
    /* flex-basis: 70%; */
  }

  .deal-timer ul li {
    flex-basis: 25%;
    padding: 10px;
    font-size: 20px;
    margin: 40px 5px;
  }
  .deal-shop-now-btn {
    margin-bottom: 10px;
  }
}

/* Subscribe news offer */
.subscribe-news-offers {
  margin: 70px auto;
}

.subscribe-news-offers article {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #d4f8fd;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.news-offer-info {
  padding: 30px;
}

.news-offer-info h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.news-offer-info p {
  font-size: 20px;
}

.news-offer-form input[type="email"] {
  background-color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}
.news-offer-form button {
  border: none;
  border-radius: 20px;
  background-color: #1e1e27;
  color: white;
  font-weight: 500;
  padding: 12px 24px;
  transform: translateX(-30px);
  font-size: 16px;
}

/* .news-offer-form input[type="email"]:focus {
  border: #d4f8fd solid 10px;
  font-size: 60px; 
}*/

/* Responsive Subscribe offer letter */
@media screen and (max-width: 1100px) {
  .subscribe-news-offers article {
    flex-direction: column;
  }
  .news-offer-form {
    margin-bottom: 30px;
  }
  .news-offer-form input[type="email"] {
    border-radius: 2px;
  }
  .news-offer-form button {
    transform: none;
    margin-top: 10px;
    border-radius: 3px;
  }
}

/* Features */

.features {
  margin: 70px auto;
}

.features section {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.feature-col-1 {
  flex-basis: 30%;
  padding: 20px 30px;
  border-radius: 5px;
  /* background-color: #f3f3f3; */
  background-color: white;
  cursor: default;
}
.feature-col-1 i {
  font-size: 40px;
  color: #2577fd;
}
.feature-col-1 h4 {
  margin: 15px auto;
  font-size: 20px;
}

/* Responsive Features */
@media screen and (max-width: 950px) {
  .features section {
    flex-direction: column;
  }
  .feature-col-1 {
    margin: 10px auto;
  }
}

/* Blogs */
.blog {
  margin: 70px auto;
}
.blog article {
  max-width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.blog article h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
}
.blog-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.blog-col {
  flex-basis: 50%;
  margin: auto 20px;
}
.blog-col a {
  text-decoration: none;
  color: #555;
  font-size: 18px;
  background-color: white;
}
.blog-col a img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 20px;
}
.blog-col a p {
  margin: 20px auto;
  padding-left: 15px;
  padding-right: 15px;
}
.blog-col a h3 {
  color: black;
  font-size: 24px;
  margin: 10px auto;
  padding-left: 15px;
  padding-right: 15px;
}

.blog article a {
  color: #555;
  font-size: 18px;
  display: block;
  margin-top: 30px;
}
.blog-col a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.see-all-articles {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Responsive Blog */
@media screen and (max-width: 950px) {
  .blog-row {
    flex-direction: column;
  }
  .blog-col {
    margin: 20px auto;
  }
}

/* Footer */
.footer {
  margin: 70px 0;
  margin-bottom: 0;
  background-color: #232f3e;
  color: white;
}
.footer section {
  padding-left: 25px;
  padding-right: 25px;
}

.footer-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}
.footer-col {
  /* margin: 20px; */
}
.footer-col ul {
  list-style: none;
}
.footer-col ul li h3 {
  font-size: 20px;
  font-weight: 500;
  padding: 20px 5px;
}
.footer-col-2 {
  font-size: 16px;
  padding: 5px;
}
.footer-col-2 a i {
  padding: 5px;
  border-radius: 50%;
  background-color: #2577fd;
  font-size: 14px;
}
.footer-col-2 a {
  color: white;
}
.footer-col-1 {
  flex-basis: 40%;
  padding: 20px 10px;
}
.footer-col-1 h3 {
  margin: 15px auto;
  font-size: 18px;
}
.footer-col-1 p {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* Responsive footer */
@media screen and (max-width: 850px) {
  .footer-row {
    flex-direction: column;
    padding-top: 20px;
    /* background-color: lightcoral; */
  }
  .footer-col ul li h3 {
    text-align: center;
  }
  .footer-col-1 {
    text-align: center;
  }
}

/* Copyright */
.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.copyright article {
  padding: 20px 0px;
  font-size: 18px;
}
.copyright article span i {
  color: red;
}
.copyright article a {
  color: black;
}

/* Responsive CopyRight */
@media screen and (max-width: 800px) {
  #copyright {
    display: block;
  }
  .copyright article {
    text-align: center;
  }
}
