<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Orders</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="../css/userCss/orders.css">

    <!-- Link Font Awesome -->
    <script src="https://kit.fontawesome.com/f497ae5ec9.js" crossorigin="anonymous"></script>

    <!-- Link Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
    <!-- Path to the page from dashboard -->
    <div class="path-from-dashboard">
        <article>
            <a href="/dashboard">Your Account</a>
            <i class="fas fa-chevron-right"></i>
            <span>Your Orders</span>
        </article>
    </div>

    <div class="your-orders">
        <section>
            <h3>Your Orders</h3>
            <div class="order-list">
                <div class="order-details-row-1">
                    <div class="order-container-1">
                        <article>
                            <h5>ORDER PLACED</h5>
                            <p>20 June 2021</p>
                        </article>

                        <article>
                            <h5>ORDER ID: 504-040545-20315</h5>
                            <p>Invoice</p>
                        </article>
                    </div>

                    <div class="order-container-2">
                        <div class="order-container-2-col-1">

                            <h5>Shipping Address</h5>
                            <p>Sanidhya Mahajan</p>
                            <p>13/2, Anoop Nagar , Old Palasia
                                INDORE, MADHYA PRADESH 452010
                                India</p>
                        </div>
                        <div class="order-container-2-col-1">
                            <h5>Payment Method</h5>
                            <p>Pay on Delivery (Cash/Card). Cash on delivery (COD) available. Card/Net banking
                                acceptance
                                subject to device
                                availability.</p>
                        </div>
                        <div class="order-container-2-col-1 order-summary">
                            <h5>Order Summary</h5>

                            <div class="subtotal">
                                <p>Item(s) Subtotal:</p>
                                <p><i class="fas fa-rupee-sign"></i>359.00</p>
                            </div>
                            <div class="shipping-charges">
                                <p>Shipping:</p>
                                <p><i class="fas fa-rupee-sign"></i>0</p>
                            </div>
                            <div class="total-amount">
                                <p>Total:</p>
                                <p><i class="fas fa-rupee-sign"></i>359.00</p>
                            </div>
                            <div class="grand-total">
                                <p><b>Grand Total:</b></p>
                                <p><b><i class="fas fa-rupee-sign"></i>359.00</b></p>
                            </div>

                        </div>
                    </div>

                    <div class="product-conatiner">
                        <h5>Delivered 24-Jun-2021</h5>

                        <div class="product-details">
                            <div class="product-img">
                                <img src="../images/mac-book.jpg" alt="">
                            </div>
                            <div class="product-description">
                                <a href="../product-page.html">Apple Mac Book Pro</a>
                                <p>Price: <b><i class="fas fa-rupee-sign"></i>359.00</b></p>
                            </div>
                        </div>

                        <div class="write-a-product-review-btn">
                            <button>Write a product review</button>
                        </div>
                    </div>
                </div>









            </div>
        </section>
    </div>
</body>

</html>